/**
 * Design Tokens - Main Entry Point
 * 
 * Importă toate token-urile în ordine.
 * Folosește în globals.css: @import '@ui-core/tokens/index.css';
 */

@import url('./colors.css');
@import url('./spacing.css');
@import url('./typography.css');
@import url('./borders.css');
@import url('./shadows.css');
@import url('./animations.css');
@import url('./breakpoints.css');
